.container {
    margin: 3em auto;
    width: 100%;
    max-width: 800px;
    background-color: rgba(238, 238, 238, 0.4);
    padding: 2em;
    box-shadow: 2px 5px 5px rgb(72, 71, 71);
    border-radius: 20px;
}